*{
    margin:0;
    padding:0;
}

.wrapper_flex{
    display: flex;
    justify-content: space-around;
}
.flex_element{
    width: 250px;
    height: 250px;
    background-color: red;
    display: flex;
}